.root {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #815854;
    -fx-background-color: #F9EBDE;
}

.button {
    -fx-background-color: #815854;
    -fx-text-fill: #F9EBDE;
    -fx-cursor: hand;
    -fx-background-radius: 2;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, #0000001A, 2, 0, 0, 1);
    -fx-transition: background-color 0.3s ease;
}

.button:hover {
    -fx-background-color: #fafafa;
    -fx-text-fill: #815854;
}

#labelHead{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
}

.text-field, .text-area {
    -fx-background-color: #fafafa;
    -fx-text-fill: black;
    -fx-border-color: #333333;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian,#0000001A, 1, 0, 0, 1);
}

.text-field:focused {
    -fx-border-color: #b09896;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, #0000001A, 4, 0, 0, 0);
}

.table-view {
    -fx-background-color: #F9EBDE;
	-fx-border-color: #333333;
    -fx-font-size: 13px;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-effect: dropshadow(gaussian, #0000001A, 2, 0, 0, 1);
}

.table-row-cell:odd {
    -fx-background-color: #e3cecc;
}

.table-row-cell:even {
    -fx-background-color: #c7b7b5;
}

.table-row-cell:hover {
    -fx-background-color: #F9EBDE;
}


.table-row-cell:selected {
	-fx-text-fill: #F9EBDE;
    -fx-background-color: #815854;
}
.table-column-header {
    -fx-background-color: #b5aba1;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
   
}

